<div class="card-panel teal darken-3 white-text">
	
	<center>
		<h2>Insert Info</h2>
	</center>
	<form action="">
        <input type="number" name="index" ng-model="nameInfo" placeholder="0">
		<input type="text" name="nombre" ng-model="nameInfo" placeholder="Nombre">
		<input type="number" name="cantidad" ng-model="quanInfo" placeholder="Cantidad">
		<input type="text" name="extra" ng-model="extraInfo" placeholder="Extra">
		<button class="btn waves-effect waves-light" type="submit" ng-click="$ctrl.insertInfo()">Insertar</button>
        <button class="btn waves-effect waves-light" type="submit"> Editar</button>
	</form>

</div>